<ion-view id="guidePage" view-title="引导页" cache-view="false">
	<div id="guideSlide" class="swiper-container">
	    <div class="swiper-wrapper">
	    	<div class="swiper-slide">
	    		<div class="item-logo" style="background-color: #D74B28">
			        <div class="guide-show">
			          <a href="#" class="animated bounceIn" >
			          	  Ionic商城
			          </a>
			
			          <div class="animate">
			          	<h2 class="animated bounceInDown">模拟商城APP</h2>
			            <p class="animated bounceInLeft">玩转商城APP</p>
			            <p class="animated bounceInRight">让你的生活更有乐趣</p>
			          </div>
			        </div>
		        </div>
	      	</div>
	    	<div class="swiper-slide">
	    		<div class="item-logo " style="background-color: #02C1ED">
			        <div class="hidden">
			          <a href="#" class="animated bounceIn" >
			          	  Ionic商城
			          </a>
			
			          <div class="animate">
			            <h2 class="animated bounceInDown">用到的技术</h2>
			            <p class="animated bounceInLeft">HTML5+CSS3/Swiper</p>
			            <p class="animated bounceInRight">animate.css/Swiper.js方便、快速；效果、超炫</p>
			          </div>
			        </div>
		        </div>
	      	</div>
	    	<div class="swiper-slide">
	    		<div class="item-logo" style="background-color: #67C962">
			        <div class="hidden">
			          <a href="#" class="animated bounceIn" >
			          	  Ionic商城
			          </a>
			
			          <div class="animate">
			            <h2 class="animated bounceInDown">牛逼的技术</h2>
			            <p class="animated bounceInLeft">Node/Angular/Ionic/ngCordova</p>
			            <p class="animated bounceInRight">这些技术好NB啊，值得你一用...</p>
			          </div>
			        </div>
		        </div>
	      	</div>
	      	<div class="swiper-slide">
	      		<div class="item-logo" style="background-color: #FCD208;">
			        <div class="hidden">
			          <a href="#" class="animated bounceIn">
			            Ionic商城
			          </a>
			
			          <div class="animate">
			            <h2><button id='close' class="animated bounceInDown" ng-click="func_goHome()">立即体验</button></h2>
			            <h2 class="animated bounceInUp otherp">作者：谢光君</h2>
			          </div>
			        </div>
		        </div>
		    </div>
	      	 
	    </div>
	    <div class="swiper-pagination"></div>
  	</div>
</ion-view>