<ion-view id="details" view-title="通用" cache-view="false">
	
	<ion-content class="scroll-content" scroll="false">
		<!-- 头部 -->
    <header id="header">
      <div class="header-left">
        <div ng-click="func_goBack()">
          <span></span>
        </div>
      </div>
      <div class="header-center">
        <span>通用</span>
      </div>
      <div class="header-right" ng-click="func_goHome()">
        <span></span>
      </div>
    </header>
    
    <div>
      此版块还在开发
    </div>
    
	</ion-content>
  
  
</ion-view>